* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.centraliza-container {
  margin: auto;
}
div {
  width: 85%;
  background-color: #fff;
  padding: 3em;
  box-shadow: 0 0 2.2em rgba(0, 0, 0, 0.2);
}
header {
  text-align: center;
  text-align: left;
}
header ul {
  margin-top: 1.5em;
}
header li{
  list-style-type: none;
}